html
  head
    title Configuration Files
    style
      include common.css
  body(class="normal")
    h2 Local Configuration Files

    ul
      each f in files
        li
          a(href=f.location)
            | #{f.file}
