<!DOCTYPE html>
<html>
<head>
<title>Configuration List</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../lib/knockout-3.4.0.js"></script>
<script>
var urlParams = {};
(window.onpopstate = function () {
    var match,
        pl     = /\+/g,  // Regex for replacing addition symbol with a space
        search = /([^&=]+)=?([^&]*)/g,
        decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
        query  = window.location.search.substring(1);

    urlParams = {};
    while (match = search.exec(query))
       urlParams[decode(match[1])] = decode(match[2]);
})();

function keysOf(o) {
  var ret = []
  for (p in (o || []))
    ret.push(p)
  return ret;
}

function deletePropAt(key,location)
{
  return function() {
    $.ajax({
      url : location
      , type : "DELETE"
      , success : function(resp) {
          console.log("Deleting " + key + " successful: " + str(resp))
          $("#row_" + key).hide()
      }
      , error : function(xhr) {
        console.error("Error when deleting " + key + ": " + xhr.status)
      }
    })
  }
}

var str = JSON.stringify

</script>
</head>
<body>
  <div id="main" class="container">
    <h2 data-bind="text: filename"></h2>
    <table class="table-border table-hover table">
      <thead>
        <tr><td>Key</td><td>Value</td></tr>
      </thead>
      <tbody>
        <!-- ko foreach: props -->
          <tr data-bind="attr: {id: 'row_' + name }">
            <td data-bind="text: name" width="20%"></td>
            <td><input data-bind="attr: { id: name}, value: value"></input></td>
            <td width="5%" align="left">
              <span title="Delete this property" style="cursor: pointer"
                    data-bind="click: deletePropAt(name,location)">&#10008;</span>
            </td>
          </tr>
        <!-- /ko -->
      </tbody>
    </table>
    <input type=button onclick="model.updateData()" value="Update"></input>

  </div>
  <script>
    function ConfigFileModel()
    {
      var self = this;
      self.filename = ko.observable(urlParams['file'])
      self.file = ko.observable()
      self.props = ko.observableArray()

      self.retrieveData = function() {
        console.log('Retrieving data for ' + self.filename() + '...')
        var request = {
              url: self.filename(),
              type: "GET",
              contentType: "application/json",
              accept: "application/json",
              cache: false,
              dataType: 'json',
              error: function(jqXHR) {
                  console.log("ajax error " + jqXHR.status);
              }
          }
          //make the request + handle response
          $.ajax(request).done(function (data) {
            console.log("Got response: " + JSON.stringify(data))
            /* Example response:
            {"name":"config1.properties",
              "values":{
                "p2":{"value":"v2","location":"/config/s/test/data/config1.properties/p2"},
                "p1":{"value":"v1","location":"/config/s/test/data/config1.properties/p1"}
              }
            }
            */
            self.filename(data.name)
            keysOf(data.values)
                       .map(function (key) {
                          return { name : key
                                  , value : data.values[key].value
                                  , location : data.values[key].location
                                 }
                        })
                        .forEach(function(prop) { self.props.push(prop) })
          })
      } //end of retrieveData

      /**
        Bulk update the entire property file. Issue a request per property.
       */
      self.updateData = function() {
        self.props()
            .forEach(function(prop) {
              $.ajax({
                type : "POST"
                , url : prop.location, data : prop.value
                , contentType : "text/plain", accept : "text/plain"
                , cache : false, dataType : 'text'
                , error : function(xhr) { console.error("update request error: " + xhr.status)}
              })
              .done(function(data ) {
                console.log("Update response: " + data)
              })
            })
      } //end of updateData

      self.retrieveData() //initialize the model
      return this;
    }

    var model = new ConfigFileModel();
    ko.applyBindings(model, $("#main")[0])
  </script>
</body>
</html>
